.page_resultat {
  display: none;
  border: 1px solid lightgrey;
  border-radius: 20px;
  width: 600px;
  margin: auto;
  padding: 12px;
}

.param_quiz {
  text-align: center;
}

.score {
  font-size: xx-large;
  font-weight: bold;
}

.conseil {
  text-align: center;
}

.bilan {
  display: block;
  width: 400px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
}

.actionFinale {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.actionFinale button {
  width: 170px;
}
